footer
{
    width: 100%;
    background-color: #000000;
    // height: 800px;
    position: relative;
  }
.footerdiv
{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 98%;
    margin: auto;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 12px;
    background-color: #CCCDCE;
}
.footerdiv>p{
    font-size: 21px;
    color: white;
}
.footermid
{
    max-width: 1320px;
    margin: auto;
    
    height: 100%;
    padding-top: 110px;
    // border: 1px solid red;
}
.footermid_1
{
    width: 100%;
    display: flex;
    gap: 20px;
}
.footermid1
{
    flex-basis: 25%;
    color: white;
    // border: 1px solid white;
}
.footermid1itag
{
    display: flex;
    gap: 5px;
    align-items: center;
}
.footermid1>h2{
    font-size: 28px;
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.footermid1>nav>ul>div
{
    padding: 5px 0px;
}
.footermid1>nav>ul>div>i{
    font-size: 10px;
}
.footerbrdr
{
    margin: 25px 0px;
    box-shadow: 0px 0px 0px 1px #ccc;
}
.footerbottom
{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
    justify-content: space-around;
}
.imgcontent, .imgcontent1
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    // margin-left: 45px;
}

.imgcontent1>a{
    color: white;
    
}